@CHARSET "ISO-8859-1";

body {
	font: normal 12px Arial;
}

table {
	width: 70%;
}

tr > th {
	background-color: #DDD; 
}

tr.linha1 > td {
	background-color: #FFF;
}

tr.linha2 > td {
	background-color: #EEE;
}

.erro {
	color: #F00;
}

.info {
	color: #00F;
}

.warn {
	color: #F00;
}

.fatal {
	color: #F00;
	font-weight: bold;
}